/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
body {
	--palta-accent-color: var(--interactive-accent);
	--palta-text-color: var(--text-normal);
	/* --font-text is the font family in the theme */
	/* --palta-font-family: var(--font-text); */
	--palta-text-size: var(--font-text-size);
}
